.box {
    height: 100%;
    .body{
        height: 100%;  
        .ivu-collapse{
            margin-bottom: 8px;
        }  
        .ivu-card-body{
            padding: 10px !important; 
        }
    }
    .my-tree{

        overflow-y:scroll;
    }
}
.operatebutton{
    margin-left: 10px;
}
.ivu-card .ivu-card-bordered {
    .ivu-card-body{
        padding: 0px !important;
    }
}