html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
label,
textarea,
p {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
html,
body {
  width: 100%;
  height: 100%;
  // font-size: 16px;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}

em,
i {
  font-style: normal;
}

img {
  border: none;
  vertical-align: middle;
}
ol,
ul,
li {
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"] {
  outline: 0;
  -webkit-appearance: none;
  -webkit-user-select: text;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

select,
textarea {
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
}

textarea {
  -webkit-user-select: text;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: rgba($color: #fff, $alpha: 1);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// ::-webkit-scrollbar {
//   display: block;
//   width: 4px;
//   height: 1px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//   background: rgba(112, 145, 223, 1);
// }
// ::-webkit-scrollbar-track {
//   // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//   border-radius: 0;
//   background-color: rgb(255, 255, 255);
// }

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
// ::-webkit-scrollbar {
//   display: block;
//   width: 0px;
//   height: 0px;
// }

// /*定义滚动条轨道 内阴影+圆角*/
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
//   background-color: rgba(17, 25, 40, 1);
// }

// /*定义滑块 内阴影+圆角*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background: #434b55;
//   border: 1px solid #434b55;
//   background-color: #434b55;
// }
// ::-webkit-scrollbar {
//   width: 2px;
//   background-color: rgba(17, 25, 40, 1);
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 2px;
//   background-color: rgba(0, 255, 255, 0.8);
// }
// ::-webkit-scrollbar-track {
//   background-color: rgba(17, 25, 40, 1);
// }
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll-bar::-webkit-scrollbar-track {
  background-color: rgba(206, 209, 217, 0.322);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #CED1D9;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}