.box {
    display: flex;
    height: 100%;
    .nav {
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        height: 100%;
        flex: 0 0 300px;
        .searchTree,
        .btngroup {
            margin: 5px;
            width: 290px;
        }
    }
    .body {
        width: calc(100% - 300px);
        header {
            height: 32px;
            display: flex;
            justify-content: space-between;
            .searchdiv {
                flex: 0 0 280px;
                .searchInput {
                    width: 200px;
                }
                button {
                    width: 80px;
                }
            }
        }
        article {
            height: calc(100% - 32px);
            .table {
                width: 100%;
                height: calc(100% - 26px);
            }
            .paging {
                height: 26px;
            }
        }
    }
}
